
body {
font-family: Courier, Arial, Helvetica, sans-serif;  
font-size: 1.5rem;
background-color: rgb(255, 255, 255);
/*margin: 0;*/
/*padding-top: 1rem;*/
padding-bottom: 1rem; }

table
{ text-align: left;
border-spacing: 0.1rem;  }
tr
{  border-bottom: 1px solid #ddd;  }

th {
  background-color: hsl(0, 0%, 90%);
  border-bottom: 1px solid #ddd;
  padding: 0.1rem;  }
td {
  border-bottom: 1px solid #ddd;
  padding: 0.1rem;  }
td:nth-child(even) {background-color: #f2f2f2;}
td:hover {background-color: #ffff4d;}

footer {
padding-top: 2rem;
font-size: smaller;
}

